.grid {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border: black;
  width: 400px;
  height: 600px;
  background-image: url('backgroundDTM.png');
  position: relative;
  font-size: 70px;
  text-align: center;
  color: rgb(19, 6, 105); 
}
.container{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.doodler {
  width: 87px;
  height: 85px;
  background-image: url('kambing.png');
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('platform.png');
  position: absolute;
}
